<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigate('home','back')"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ language['Profile'] }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigate('login','back')">{{ language['Logout'] }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Profile Picture and Name -->
  <div>
    <img class="profile-picture" src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Profile Picture">
    <h2>{{data.login.full_name}}</h2>
  </div>

  <!-- Year/Course, Phone, Email, Faculty, Programme -->
  <ion-item>
    <ion-icon name="school-outline" slot="start"></ion-icon>
    <ion-label> {{ language['Year'] }} 3</ion-label>
  </ion-item>
  

  <ion-item>
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label>{{data.login.phone}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-label>{{data.login.email}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="business-outline" slot="start"></ion-icon>
    <ion-label>{{ language['Faculty of Computing'] }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="book-outline" slot="start"></ion-icon>
    <ion-label>{{ language['Graphic and Multimedia Software'] }}</ion-label>
  </ion-item>

</ion-content>