<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>KTDI UTM</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header" style="margin: 5%">
    <h3>Hi {{data.login.full_name}}!</h3>
    <ion-icon name="notifications-outline"></ion-icon>
  </div>

  <!--searchbar-->
  <app-searchbar></app-searchbar>

  <!--slider-->
  <swiper-container (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true">
    <swiper-slide *ngFor="let slide of swiperSlides">
      <!-- Add any content you want for each slide -->
      <ion-img [src]="slide.image" alt="{{slide.alt}}"></ion-img>
      <div class="slide-content">
        <h5>{{slide.title}}</h5>
        <p>{{slide.description}}</p>
      </div>
    </swiper-slide>
  </swiper-container>

 <!--services-->
 <h4>Services</h4>
 <div class="categories">
  <div class="icon-button-container">
  <ion-button color="primary" (click)="navigate('bookhall', 'forward')" class="touchable-button">
    <ion-icon name="calendar"></ion-icon>
  </ion-button>
  <span class="button-caption">Hall Booking</span>
  </div>
  
  <div class="icon-button-container">
  <ion-button color="primary" (click)="navigate('report', 'forward')" class="touchable-button">
    <ion-icon name="document-text"></ion-icon>
  </ion-button>
  <span class="button-caption">Report</span>
  </div>
  
  <div class="icon-button-container">
  <ion-button color="primary" (click)="navigate('report-status', 'forward')" class="touchable-button">
    <ion-icon name="bar-chart"></ion-icon>
  </ion-button>
  <span class="button-caption">Report Status</span>
  </div>
  
  <div class="icon-button-container">
  <ion-button color="primary" (click)="navigate('room-registration', 'forward')" class="touchable-button">
    <ion-icon name="business"></ion-icon>
  </ion-button>
  <span class="button-caption">Room Registration</span>
  </div>
  
  <div class="icon-button-container">
  <ion-button color="primary" (click)="navigate('electric', 'forward')" class="touchable-button">
    <ion-icon name="power"></ion-icon> 
  </ion-button>
  <span class="button-caption">Register Electrical Appliances</span>
  </div>
  
  <div class="icon-button-container">
  <ion-button color="primary" (click)="navigate('feedback', 'forward')" class="touchable-button">
    <ion-icon name="chatbubbles"></ion-icon> 
  </ion-button>
  <span class="button-caption">Feedback & Recommendation</span>
  </div>
</div>

  <!--hall available-->
  <h4>Hall Available</h4>
  <div class="hall-list">
    <ion-img src="../../assets/image/dewan.jpg" alt="utm"></ion-img>
    <ion-img src="../../assets/image/dewan.jpg" alt="utm"></ion-img>
    <ion-img src="../../assets/image/dewan.jpg" alt="utm"></ion-img>
  </div>

</ion-content>
