<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Use the ion-back-button component to navigate back to the home page -->
      <ion-back-button [defaultHref]="'/home'"></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback & Recommendation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">feedback</ion-title>
    </ion-toolbar>
  </ion-header>
  <div *ngIf="!submitted">
  <ion-label>Upload Files:</ion-label>
      <input type="file" (change)="handleFileInput($event)">
  <ion-list>
    <ion-item>
      <ion-label>College Management</ion-label>
      <ion-icon [name]="collegeManagementRating >= 1 ? 'star' : 'star-outline'" [class.gold-star]="collegeManagementRating >= 1"(click)="rateCollegeManagement(1)"></ion-icon>
      <ion-icon [name]="collegeManagementRating >= 2 ? 'star' : 'star-outline'" [class.gold-star]="collegeManagementRating >= 2"(click)="rateCollegeManagement(2)"></ion-icon>
      <ion-icon [name]="collegeManagementRating >= 3 ? 'star' : 'star-outline'" [class.gold-star]="collegeManagementRating >= 3"(click)="rateCollegeManagement(3)"></ion-icon>
      <ion-icon [name]="collegeManagementRating >= 4 ? 'star' : 'star-outline'" [class.gold-star]="collegeManagementRating >= 4"(click)="rateCollegeManagement(4)"></ion-icon>
      <ion-icon [name]="collegeManagementRating >= 5 ? 'star' : 'star-outline'" [class.gold-star]="collegeManagementRating >= 5"(click)="rateCollegeManagement(5)"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Accommodation</ion-label>
      <ion-icon [name]="accommodationRating >= 1 ? 'star' : 'star-outline'" [class.gold-star]="accommodationRating >= 1"(click)="rateAccommodation(1)"></ion-icon>
      <ion-icon [name]="accommodationRating >= 2 ? 'star' : 'star-outline'" [class.gold-star]="accommodationRating >= 2"(click)="rateAccommodation(2)"></ion-icon>
      <ion-icon [name]="accommodationRating >= 3 ? 'star' : 'star-outline'" [class.gold-star]="accommodationRating >= 3"(click)="rateAccommodation(3)"></ion-icon>
      <ion-icon [name]="accommodationRating >= 4 ? 'star' : 'star-outline'" [class.gold-star]="accommodationRating >= 4"(click)="rateAccommodation(4)"></ion-icon>
      <ion-icon [name]="accommodationRating >= 5 ? 'star' : 'star-outline'" [class.gold-star]="accommodationRating >= 5"(click)="rateAccommodation(5)"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Facilities</ion-label>
      <ion-icon [name]="facilitiesRating >= 1 ? 'star' : 'star-outline'" [class.gold-star]="facilitiesRating >= 1"(click)="rateFacilities(1)"></ion-icon>
      <ion-icon [name]="facilitiesRating >= 2 ? 'star' : 'star-outline'" [class.gold-star]="facilitiesRating >= 2"(click)="rateFacilities(2)"></ion-icon>
      <ion-icon [name]="facilitiesRating >= 3 ? 'star' : 'star-outline'" [class.gold-star]="facilitiesRating >= 3"(click)="rateFacilities(3)"></ion-icon>
      <ion-icon [name]="facilitiesRating >= 4 ? 'star' : 'star-outline'" [class.gold-star]="facilitiesRating >= 4"(click)="rateFacilities(4)"></ion-icon>
      <ion-icon [name]="facilitiesRating >= 5 ? 'star' : 'star-outline'" [class.gold-star]="facilitiesRating >= 5"(click)="rateFacilities(5)"></ion-icon>
    </ion-item>
    <!-- User Recommendation -->
   
      <br/>
      <ion-textarea [(ngModel)]="userRecommendation" label="Recommendation" labelPlacement="floating" fill="outline" placeholder="Enter your recommendation" [counter]="true" maxlength="100"></ion-textarea>
  </ion-list>

  <ion-col>
    <ion-item detail="false" button color="primary" style="--border-radius: 20px; --border-width: 2px; --height: 4rem; color: white;"
              (click)="submitReport()">
      <ion-label style="text-align: center;">Submit</ion-label>
    </ion-item>
  </ion-col>
  </div>

  <div *ngIf="submitted" style="text-align: center; margin-top: 50px;">
  <p><strong>Your feedback has been submitted</strong></p>
  <p>An email has been sent to you for confirmation</p>

  <!-- Back to Home Button -->
  <ion-col>
    <ion-item (click)="backToHome()" detail="false" button color="primary"
              style="--border-radius: 20px; --border-width: 2px; --height: 4rem; color: white; margin-top: 20px;">
      <ion-label style="text-align: center;">Back to Home</ion-label>
    </ion-item>
    </ion-col>
  </div>
</ion-content>
