<!-- electric.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/home'"></ion-back-button>
    </ion-buttons>
    <ion-title>Register Electrical Appliances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let category of sortedCategories">
      <ion-col>
        <h2>{{ category }}</h2>
        <ion-list>
          <ion-item *ngFor="let appliance of getAppliancesByCategory(category)">
            <ion-label>
              <img [src]="appliance.image" alt="Appliance Image" style="width: 50px; height: 40px;">
              <p><strong>{{ appliance.name }}</strong></p>
              <p><strong>Price:</strong> RM{{ appliance.price }}</p>
            </ion-label>
            <ion-checkbox slot="start" [checked]="appliance.selected" (ionChange)="toggleSelection(appliance)"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-row>
      <ion-col>
        <ion-item lines="none" detail="false">
          <ion-label>
            <h6>
              <b>RM {{ totalPrice | number: '1.2-2' }}</b>
            </h6>
            <p><span style="color:#777">inc. of all taxes</span></p>
          </ion-label>          
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="proceedToPayment()" detail="true" button color="primary" style="--border-radius: 20px;--border-width: 2px;--height:4rem; color: white;">
          <ion-label style="text-align: center;">Proceed</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-footer>

  <!-- Payment Method Selection -->
  <ion-segment *ngIf="showPaymentSection">
    <!-- ... Payment method selection buttons ... -->
  </ion-segment>

  <!-- Proceed to Payment -->
  <ion-footer *ngIf="showPaymentSection">
    <ion-row>
      <ion-col>
        <ion-button (click)="submitRegistration()">Proceed to Payment</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>

  <div *ngIf="submitted" style="text-align: center; margin-top: 50px;">
    <p><strong>Your registration has been approved</strong></p>
    <!-- Add any other confirmation message here -->
  </div>
</ion-content>
