<div id="preloader">
  <div class="waviy">
 <span style="--i:1">L</span>
 <span style="--i:2">o</span>
 <span style="--i:3">a</span>
 <span style="--i:4">d</span>
 <span style="--i:5">i</span>
 <span style="--i:6">n</span>
 <span style="--i:7">g</span>
 <span style="--i:8">.</span>
 <span style="--i:9">.</span>
 <span style="--i:10">.</span>
</div>
</div>
<!--Preloader end-->
<!--Main wrapper start-->
<div id="main-wrapper">
  <!--Nav header start-->
  <div class="nav-header">
      <a href="index.html" class="brand-logo">
  <svg class="logo-abbr" width="53" height="53" viewBox="0 0 53 53">
    <path class="svg-logo-primary-path" fill="#5BCFC5"/>
    <path class="svg-logo-primary-path" fill="#5BCFC5"/>
  </svg>
          
  <p class="brand-title" width="124px" height="33px"  style="font-size: 30px;">Admin</p>
      </a>
      <div class="nav-control">
          <div class="hamburger">
              <span class="line"></span><span class="line"></span><span class="line"></span>
          </div>
      </div>
  </div>
  <!--Nav header end*-->



<!--Header start-->
  <div class="header">
      <div class="header-content">
          <nav class="navbar navbar-expand">
              <div class="collapse navbar-collapse justify-content-between">
                  <div class="header-left">
        <div class="dashboard_bar">
                          Dashboard 
                      </div>
                  </div>
                  <ul class="navbar-nav header-right">
        <li class="nav-item">
          <div class="input-group search-area">
            <input type="text" class="form-control" placeholder="Search here...">
            <span class="input-group-text"><a href="javascript:void(0)"><i class="flaticon-381-search-2"></i></a></span>
          </div>
        </li>
        <li class="nav-item dropdown notification_dropdown">
                          <a class="nav-link" href="javascript:void(0);" data-bs-toggle="dropdown">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">

            </svg>
            <span class="badge light text-white bg-primary rounded-circle">2</span>
                          </a>
          
        </li>
                      <li class="nav-item dropdown notification_dropdown">
                          <a class="nav-link  ai-icon" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                             <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" fill="#4f7086"/>
            </svg>
                              <span class="badge light text-white bg-primary rounded-circle">12</span>
                          </a>
                        
                      </li>
        <li class="nav-item dropdown notification_dropdown">
                          <a class="nav-link bell bell-link" href="javascript:void(0);">
                           <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" fill="#4f7086"/>
            </svg>
            <span class="badge light text-white bg-primary rounded-circle">5</span>
                          </a>
        </li>
                      <li class="nav-item">
          <a href="javascript:void(0);" class="btn btn-primary d-sm-inline-block d-none">Generate Report<i class="las la-signal ms-3 scale5"></i></a>
        </li>
                  </ul>
              </div>
  </nav>
</div>
</div>
  <!--Header end ti-comment-alt-->
  <!--Sidebar start-->

  <div class="dlabnav">
      <div class="dlabnav-scroll">
  <ul class="metismenu" id="menu">
    <li class="dropdown header-profile">
      <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
        <img src="assets/images/ion/man (1).png" width="20" alt=""/>
        <div class="header-info ms-3">
          <span class="font-w600 ">Hi,<b>AC</b></span>
          <small class="text-end font-w400">xyz@gmail.com</small>
        </div>
      </a>
      
    </li>
              <li><a href="javascript:void()" aria-expanded="false">
        <i class="flaticon-025-dashboard"></i>
        <span class="nav-text">Dashboard</span>
      </a>
              </li>
              <li><a href="javascript:void()" aria-expanded="false">
      <i class="flaticon-050-info"></i>
        <span class="nav-text">Apps</span>
      </a>
              </li>
              <li><a href="javascript:void()" aria-expanded="false">
        <i class="flaticon-041-graph"></i>
        <span class="nav-text">Charts</span>
      </a>
              </li>
              <li><a href="javascript:void()" aria-expanded="false">
        <i class="flaticon-086-star"></i>
        <span class="nav-text">Bootstrap</span>
      </a>
              </li>
              <li><a href="javascript:void()" aria-expanded="false">
        <i class="flaticon-045-heart"></i>
        <span class="nav-text">Plugins</span>
      </a>
              </li>
              <li><a href="widget-basic.html" class="ai-icon" aria-expanded="false">
        <i class="flaticon-013-checkmark"></i>
        <span class="nav-text">Widget</span>
      </a>
    </li>
              <li><a href="javascript:void()" aria-expanded="false">
        <i class="flaticon-072-printer"></i>
        <span class="nav-text">Forms</span>
      </a>
              </li>
              <li><a href="javascript:void()" aria-expanded="false">
        <i class="flaticon-043-menu"></i>
        <span class="nav-text">Table</span>
      </a>
              </li>
              <li><a href="javascript:void()" aria-expanded="false">
        <i class="flaticon-022-copy"></i>
        <span class="nav-text">Pages</span>
      </a>
              </li>
          </ul>
</div>
  </div>

  <!--Sidebar end-->

<!--Content body start-->
  <div class="content-body">
      <!-- row -->
<div class="container-fluid">
  <div class="row invoice-card-row">
    <div class="col-xl-3 col-xxl-3 col-sm-6">
      <div class="card bg-warning invoice-card">
        <div class="card-body d-flex">
          <div class="icon me-3">
            <svg  width="33px" height="32px">
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"/>
             </svg>
            
          </div>
          <div>
            <h2 class="text-white invoice-num">2478</h2>
            <span class="text-white fs-18">Total Invoices</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-xxl-3 col-sm-6">
      <div class="card bg-success invoice-card">
        <div class="card-body d-flex">
          <div class="icon me-3">
            <svg width="35px" height="34px">
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"/>
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"/>
          </svg>
            
          </div>
          <div>
            <h2 class="text-white invoice-num">983</h2>
            <span class="text-white fs-18">Paid Invoices</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-xxl-3 col-sm-6">
      <div class="card bg-info invoice-card">
        <div class="card-body d-flex">
          <div class="icon me-3">
            <svg  width="35px" height="34px">
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"/>
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"/>
          </svg>
            
          </div>
          <div>
            <h2 class="text-white invoice-num">1256</h2>
            <span class="text-white fs-18">Unpaid Invoices</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-xxl-3 col-sm-6">
      <div class="card bg-secondary invoice-card">
        <div class="card-body d-flex">
          <div class="icon me-3">
            <svg  width="33px" height="32px">
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"/>
          </svg>
          
          </div>
          <div>
            <h2 class="text-white invoice-num">652</h2>
            <span class="text-white fs-18">Total Invoices Sent</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-9 col-xxl-12">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-xl-6">
              <div class="card-bx bg-blue">
                <img class="pattern-img" src="assets/images/pattern/pattern6.png" alt="">
                <div class="card-info text-white">
                  <img src="assets/images/pattern/circle.png" class="mb-4" alt="">
                  <h2 class="text-white card-balance">$824,571.93</h2>
                  <p class="fs-16">Wallet Balance</p>
                  <span>+0,8% than last week</span>
                </div>
                <a class="change-btn" href="javascript:void(0);"><i class="fa fa-caret-up up-ico"></i>Change<span class="reload-icon"><i class="fas fa-sync-alt reload active"></i></span></a>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="row  mt-xl-0 mt-4">
                <div class="col-md-6">
                  <h4 class="card-title">Card's Overview</h4>
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit psu olor</span>
                  <ul class="card-list mt-4">
                    <li><span class="bg-blue circle"></span>Account<span>20%</span></li>
                    <li><span class="bg-success circle"></span>Services<span>40%</span></li>
                    <li><span class="bg-warning circle"></span>Restaurant<span>15%</span></li>
                    <li><span class="bg-light circle"></span>Others<span>15%</span></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <canvas id="polarChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-xxl-5">
      <div class="card">
        <div class="card-header pb-0 border-0">
          <div>
            <h4 class="card-title mb-2">Activity</h4>
            <h2 class="mb-0">$78120</h2>
          </div>
          <ul class="card-list">
            <li class="justify-content-end">Income<span class="bg-success circle me-0 ms-2"></span></li>
            <li class="justify-content-end">Outcome<span class="bg-danger circle me-0 ms-2"></span></li>
          </ul>
        </div>
        <div class="card-body pb-0 pt-3">
          <div id="chartBar" class="bar-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-xxl-7">
      <div class="card">
        <div class="card-header border-0 pb-0">
          <div>
            <h4 class="card-title mb-2">Quick Transfer</h4>
            <span class="fs-12">Lorem ipsum dolor sit amet, consectetur</span>
          </div>
          <div class="dropdown">
            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
              <a class="dropdown-item" href="javascript:void(0);">Edit</a>
            </div>
          </div>
        </div>
        <div class="card-body">  
          <div class="user-bx">
            <img src="assets/images/ion/man (1).png" alt="">
            <div>
              <h6 class="user-name">Samuel</h6>
              <span class="meta">@sam224</span>
            </div>
            <i class="las la-check-circle check-icon"></i>
          </div>
          <h4 class="mt-3 mb-3">Recent Friend<a href="javascript:void(0);" class="fs-16 float-end text-secondary font-w600">See More</a></h4>
          <ul class="user-list">
            <li><img src="assets/images/ion/bussiness-man.png" alt=""></li>
            <li><img src="assets/images/ion/hacker.png" alt=""></li>
            <li><img src="assets/images/ion/man (2).png" alt=""></li>
            <li><img src="assets/images/ion/woman.png" alt=""></li>
            <li><img src="assets/images/ion/man.png" alt=""></li>
            <li><img src="assets/images/ion/woman.png" alt=""></li>
          
          </ul>
          <h4 class="mt-3 mb-0">Insert Amount</h4>
          <div class="format-slider">
                              <input class="form-control amount-input"  title="Formatted number" id="input-format">
                              <div id="slider-format"></div>
                          </div>
          <div class="text-secondary fs-16 d-flex justify-content-between font-w600 mt-4">
            <span>Your Balance</span>
            <span>$ 456,345.62</span>
          </div>
        </div>
        <div class="card-footer border-0 pt-0">
          <a href="javascript:void(0);" class="btn btn-primary d-block btn-lg text-uppercase">Transfer Now</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-xxl-5">
      <div class="card">
        <div class="card-header border-0 pb-0">
          <div>
            <h4 class="card-title mb-2">Spendings</h4>
            <span class="fs-12">Lorem ipsum dolor sit amet, consectetur</span>
          </div>
          <div class="dropdown">
            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
              <a class="dropdown-item" href="javascript:void(0);">Edit</a>
            </div>
          </div>
        </div>
        <div class="card-body">  
          <div class="progress default-progress">
                              <div class="progress-bar bg-gradient-1 progress-animated" style="width: 45%; height:20px;" role="progressbar">
                                  <span class="sr-only">45% Complete</span>
                              </div>
                          </div>
          <div class="d-flex align-items-end mt-2 pb-3 justify-content-between">
            <span>Investment</span>
            <span class="fs-18"><span class="text-black pe-2">$1415</span>/$2000</span>
          </div>
          <div class="progress default-progress mt-4">
                              <div class="progress-bar bg-gradient-2 progress-animated" style="width: 70%; height:20px;" role="progressbar">
                                  <span class="sr-only">70% Complete</span>
                              </div>
                          </div>
          <div class="d-flex align-items-end mt-2 pb-3 justify-content-between">
            <span>Restaurant</span>
            <span class="fs-18"><span class="text-black pe-2">$1567</span>/$5000</span>
          </div>
          <div class="progress default-progress mt-4">
                              <div class="progress-bar bg-gradient-3 progress-animated" style="width: 35%; height:20px;" role="progressbar">
                                  <span class="sr-only">35% Complete</span>
                              </div>
                          </div>
          <div class="d-flex align-items-end mt-2 pb-3 justify-content-between">
            <span>Installment</span>
            <span class="fs-18"><span class="text-black pe-2">$487</span>/$10000</span>
          </div>
          <div class="progress default-progress mt-4">
                              <div class="progress-bar bg-gradient-4 progress-animated" style="width: 95%; height:20px;" role="progressbar">
                                  <span class="sr-only">95% Complete</span>
                              </div>
                          </div>
          <div class="d-flex align-items-end mt-2 justify-content-between">
            <span>Property</span>
            <span class="fs-18"><span class="text-black pe-2">$3890</span>/$4000</span>
          </div>
        </div>
        <div class="card-footer border-0 pt-0">
          <a href="javascript:void(0);" class="btn btn-outline-primary d-block btn-lg">View More</a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-xxl-7">
      <div class="card">
        <div class="card-header d-flex flex-wrap border-0 pb-0">
          <div class="me-auto mb-sm-0 mb-3">
            <h4 class="card-title mb-2">Transaction Overview</h4>
            <span class="fs-12">Lorem ipsum dolor sit amet, consectetur</span>
          </div>
          <a href="javascript:void(0)" class="btn btn-rounded btn-md btn-primary me-3 me-3"><i class="las la-download scale5 me-3"></i>Download Report</a>
          <div class="dropdown">
            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 13C12.5523 13 13 12.5523 13 12C13 11.4477 12.5523 11 12 11C11.4477 11 11 11.4477 11 12C11 12.5523 11.4477 13 12 13Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 6C12.5523 6 13 5.55228 13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5C11 5.55228 11.4477 6 12 6Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M12 20C12.5523 20 13 19.5523 13 19C13 18.4477 12.5523 18 12 18C11.4477 18 11 18.4477 11 19C11 19.5523 11.4477 20 12 20Z" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void(0);">Delete</a>
              <a class="dropdown-item" href="javascript:void(0);">Edit</a>
            </div>
          </div>
        </div>
        <div class="card-body pb-2">
          <div class="d-sm-flex d-block">
            <div class="form-check toggle-switch text-end form-switch me-4">
              <input checked class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Number</label>
            </div>
            <div class="form-check toggle-switch text-end form-switch me-auto">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault1">
              <label class="form-check-label" for="flexSwitchCheckDefault1">Analytics</label>
            </div>
            <ul class="card-list d-flex mt-sm-0 mt-3">
              <li class="me-3"><span class="bg-success circle"></span>Income</li>
              <li><span class="bg-danger circle"></span>Outcome</li>
            </ul>
          </div>
          <div id="chartBar2" class="bar-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-xxl-12">
      <div class="card">
        <div class="card-header d-block d-sm-flex border-0">
          <div class="me-3">
            <h4 class="card-title mb-2">Previous Transactions</h4>
            <span class="fs-12">Lorem ipsum dolor sit amet, consectetur</span>
          </div>
          <div class="card-tabs mt-3 mt-sm-0">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#monthly" role="tab">Monthly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#Weekly" role="tab">Weekly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#Today" role="tab">Today</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body tab-content p-0">
          <div class="tab-pane active show fade" id="monthly" role="tabpanel">
            <div class="table-responsive">
              <table class="table table-responsive-md card-table transactions-table">
                <tbody>
                  <tr>
                    <td>
                      <svg class="bgl-success tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>

                        </g>
                      </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">XYZ Store ID</a></h6>
                      <span class="fs-14">Cashback</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 4, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">+$5,553</span></td>
                    <td><span class="text-success fs-16 font-w500 text-end d-block">Completed</span></td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="bgl-danger tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>

                        </g>
                        </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Chef Renata</a></h6>
                      <span class="fs-14">Transfer</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 5, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">-$167</span></td>
                    <td><span class="text-light fs-16 font-w500 text-end d-block">Pending</span></td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="bgl-success tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g></g>
                      </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Cindy Alexandro</a></h6>
                      <span class="fs-14">Transfer</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 5, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">+$5,553</span></td>
                    <td><span class="text-danger fs-16 font-w500 text-end d-block">Canceled</span></td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="bgl-success tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>

                        </g>
                      </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Paipal</a></h6>
                      <span class="fs-14">Transfer</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 4, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">+$5,553</span></td>
                    <td><span class="text-success fs-16 font-w500 text-end d-block">Completed</span></td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="bgl-danger tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                        </g>
                        </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Hawkins Jr.</a></h6>
                      <span class="fs-14">Cashback</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 4, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">+$5,553</span></td>
                    <td><span class="text-danger fs-16 font-w500 text-end d-block">Canceled</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane" id="Weekly" role="tabpanel">
            <div class="table-responsive">
              <table class="table table-responsive-md card-table transactions-table">
                <tbody>
                  <tr>
                    <td>
                      <svg class="bgl-success tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>

                        </g>
                      </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">XYZ Store ID</a></h6>
                      <span class="fs-14">Cashback</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 4, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">+$5,553</span></td>
                    <td><span class="text-success fs-16 font-w500 text-end d-block">Completed</span></td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="bgl-danger tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                        </g>
                        </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Chef Renata</a></h6>
                      <span class="fs-14">Transfer</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 5, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">-$167</span></td>
                    <td><span class="text-light fs-16 font-w500 text-end d-block">Pending</span></td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="bgl-success tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>

                       </g>
                      </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Cindy Alexandro</a></h6>
                      <span class="fs-14">Transfer</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 5, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">+$5,553</span></td>
                    <td><span class="text-danger fs-16 font-w500 text-end d-block">Canceled</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane" id="Today" role="tabpanel">
            <div class="table-responsive">
              <table class="table table-responsive-md card-table transactions-table">
                <tbody>
                  <tr>
                    <td>
                      <svg class="bgl-danger tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>

                        </g>
                        </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Chef Renata</a></h6>
                      <span class="fs-14">Transfer</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 5, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">-$167</span></td>
                    <td><span class="text-light fs-16 font-w500 text-end d-block">Pending</span></td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="bgl-success tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>

                        </g>
                      </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Cindy Alexandro</a></h6>
                      <span class="fs-14">Transfer</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 5, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">+$5,553</span></td>
                    <td><span class="text-danger fs-16 font-w500 text-end d-block">Canceled</span></td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="bgl-success tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>

                        </g>
                      </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Paipal</a></h6>
                      <span class="fs-14">Transfer</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 4, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">+$5,553</span></td>
                    <td><span class="text-success fs-16 font-w500 text-end d-block">Completed</span></td>
                  </tr>
                  <tr>
                    <td>
                      <svg class="bgl-danger tr-icon" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g>
                        </g>
                        </svg>
                    </td>
                    <td>
                      <h6 class="fs-16 font-w600 mb-0"><a href="javascript:void(0);" class="text-black">Hawkins Jr.</a></h6>
                      <span class="fs-14">Cashback</span>
                    </td>
                    <td>
                      <h6 class="fs-16 text-black font-w600 mb-0">June 4, 2020</h6>
                      <span class="fs-14">05:34:45 AM</span>
                    </td>
                    <td><span class="fs-16 text-black font-w600">+$5,553</span></td>
                    <td><span class="text-danger fs-16 font-w500 text-end d-block">Canceled</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-xxl-12">
      <div class="row">
        <div class="col-xl-12">
          <div class="card coin-card">
            <div class="card-body d-sm-flex d-block align-items-center">
              <span class="coin-icon">
                <svg width="38" height="41" viewBox="0 0 38 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g>

                  </g>
                  </svg>
              </span>
              <div>
                <h3 class="text-white">Get managed by Dompet’s Virtual Assistant</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                <a class="text-white" href="javascript:void(0);">Learn more >></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card progress-card">
            <div class="card-body d-flex">
              <div class="me-auto">
                <h4 class="card-title">Total Transactions</h4>
                <div class="d-flex align-items-center">
                  <h2 class="fs-38 mb-0">98k</h2>
                  <div class="text-success transaction-caret">
                    <i class="fas fa-sort-up"></i>
                    <p class="mb-0">+0.5%</p>
                  </div>
                </div>
              </div>    
              <div class="progress progress-vertical-bottom" style="min-height:110px;min-width:10px;">
                <div class="progress-bar bg-primary" style="width:10px; height:40%;" role="progressbar">
                  <span class="sr-only">40% Complete</span>
                </div>
              </div>
              <div class="progress progress-vertical-bottom" style="min-height:110px;min-width:10px;">
                <div class="progress-bar bg-primary" style="width:10px; height:55%;" role="progressbar">
                  <span class="sr-only">55% Complete</span>
                </div>
              </div>
              <div class="progress progress-vertical-bottom" style="min-height:110px;min-width:10px;">
                <div class="progress-bar bg-primary" style="width:10px; height:80%;" role="progressbar">
                  <span class="sr-only">80% Complete</span>
                </div>
              </div>
              <div class="progress progress-vertical-bottom" style="min-height:110px;min-width:10px;">
                <div class="progress-bar bg-primary" style="width:10px; height:50%;" role="progressbar">
                  <span class="sr-only">50% Complete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Invoice Remaining</h4>
              <div class="d-flex align-items-center">
                <div class="me-auto">
                  <div class="progress mt-4" style="height:10px;">
                    <div class="progress-bar bg-primary progress-animated" style="width: 45%; height:10px;" role="progressbar">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                  <p class="fs-16 mb-0 mt-2"><span class="text-danger">-0,8% </span>from last month</p>
                </div>
                <h2 class="fs-38">854</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mt-2">Invoice Sent</h4>
              <div class="d-flex align-items-center mt-3 mb-2">
                <h2 class="fs-38 mb-0 me-3">456</h2>
                <span class="badge badge-success badge-xl">+0.5%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mt-2">Invoice Compeleted</h4>
              <div class="d-flex align-items-center mt-3 mb-2">
                <h2 class="fs-38 mb-0 me-3">1467</h2>
                <span class="badge badge-danger badge-xl">-6.4%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
  </div>
  <!--Content body end-->



  <!--Footer start-->
  <div class="footer">

      <div class="copyright">
          <p>© Love &amp; by <a href="#" target="_blank">Templates</a> 2023</p>
      </div>
  </div>
  <!--Footer end-->

</div>