<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/admin'"></ion-back-button>
    </ion-buttons>
    <ion-title>Electrical Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="timetable-grid">
    <ion-row class="header-row">      
      <ion-col size-sm="2">Registration ID</ion-col>      
      <ion-col size-sm="2">User ID</ion-col>
      <ion-col size-sm="2">Name</ion-col>
      <ion-col size-sm="2">Image Path</ion-col>
      <ion-col size-sm="2">Registration Date</ion-col>
      <ion-col size-sm="2">Payment Status</ion-col>
    </ion-row>

    <ion-row *ngFor="let row of tableData" class="data-row">
      <ion-col size-sm="2">{{ row.registrationId }}</ion-col>
      <ion-col size-sm="2">{{ row.userId }}</ion-col>
      <ion-col size-sm="2">{{ row.name }}</ion-col>
      <ion-col size-sm="2">{{ row.imagePath }}</ion-col>
      <ion-col size-sm="2">{{ row.registrationDate }}</ion-col>
      <ion-col size-sm="2">{{ row.paymentStatus }}</ion-col>
      <ion-button expand="full" (click)="approveDetails()" shape="round" class="align-right">Approve</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>