<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/admin'"></ion-back-button>
    </ion-buttons>
    <ion-title>Electrical Appliances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header lines="full" class="header-row">
    <ion-label class="tooltip" data-tooltip="Registration ID">R.I</ion-label>
    <ion-label class="tooltip" data-tooltip="User ID">U.I</ion-label>
    <ion-label class="tooltip" data-tooltip="Total Price">Price</ion-label>
    <ion-label class="tooltip" data-tooltip="Appliances">Item</ion-label>
    <ion-label class="tooltip" data-tooltip="Registration Date">R.D</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let appliance of electricalList">
      <ion-label>{{ appliance.registration_id }}</ion-label>
      <ion-label>{{ appliance.user_id }}</ion-label>
      <ion-label>{{ appliance.price }}</ion-label>
      <ion-label>{{ appliance.name }}</ion-label>
      <ion-label>{{ appliance.registration_date }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
