<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/admin'"></ion-back-button>
    </ion-buttons>
    <ion-title>Electrical Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Your content goes here -->
  <ion-list *ngIf="electricDetails.length > 0">
    <ion-item *ngFor="let detail of electricDetails">
      <ion-label>ID: {{ detail.id }}</ion-label>
      <ion-label>User ID: {{ detail.user_id }}</ion-label>
      <ion-label>Price: {{ detail.price | currency:'USD':'symbol':'1.2-2' }}</ion-label>
      <ion-label>Category: {{ detail.category }}</ion-label>
      <ion-label>Name: {{ detail.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="approveDetails()">Approve</ion-button>
</ion-content>