

<ion-content style="--background: linear-gradient(#787878, #444444);" [fullscreen]="true">

  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-segment color="light" [(ngModel)]="data.language" swipeGesture="false">
        <ion-segment-button value="english" (click)="changeLanguage('english')">
          <ion-label>EN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="malay" (click)="changeLanguage('malay')">
          <ion-label>BM</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <div [ngStyle]="{'color': color.header}" style="margin-top: 30%;" class="container ion-text-center">
    <h1><ion-icon name="home" style="--border-width: 2px;"></ion-icon> &nbsp; {{language["Hostel Management"]}}</h1>
  </div>

  <div class="container ion-text-center">
    <h1><ion-icon name="home" style="--border-width: 2px;"></ion-icon> &nbsp; {{language["Hostel Management"]}}</h1>
    <h3>{{language["All services on your fingertips."]}}</h3>
    <ion-row>
      <ion-col>
        <ion-item (click)="setOpen(true,'loginModal')" detail="false" button color="primary" style="--border-radius: 20px;--border-width: 2px;--height:4rem; color: white; margin-left: 10%;">
          <ion-label style="text-align: center;">{{language["Log In"]}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item (click)="setOpen(true,'signupModal')" button color="medium" detail="false" style="--border-radius: 20px;--border-width: 2px;--height:4rem; color: white; margin-right: 10%">
          <ion-label style="text-align: center;">{{language["Sign In"]}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <ion-modal [isOpen]="loginModal" (willDismiss)="setOpen(false,'loginModal')" [initialBreakpoint]="0.75" style="--border-radius: 30px">
    <ng-template>
        <ion-toolbar style="--background: transparent; margin-top: 5%;">
          <ion-title><b>{{language["Log In"]}}</b></ion-title>
          <!-- <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,'loginModal')">Close</ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      <ion-content class="ion-padding">
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': login.email_input[1],'--border-color': login.email_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="mail-outline"></ion-icon></ion-label>
          <ion-input type="text" placeholder="{{language['E-mail']}}" [(ngModel)]="login.email" helperText="Enter a valid email" errorText="Invalid email" email [clearInput]="true" (ionChange)="ionChange()"></ion-input>
          <ion-icon *ngIf="!hide.email" slot="end" [ngStyle]="{'color': color.email}" name="alert-circle-outline" ></ion-icon> 
        </ion-item>
        <br>
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': login.password_input[1],'--border-color': login.password_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="key-outline"></ion-icon></ion-label>
          <ion-input type="password" placeholder="{{language['Password']}}" [(ngModel)]="login.password" [clearInput]="true" [type]="showPassword ? 'text' : 'password'" (ionChange)="ionChange()"></ion-input>
          <ion-icon *ngIf="!hide.password" slot="end" [ngStyle]="{'color': color.password}" name="alert-circle-outline" ></ion-icon>
          <ion-icon style="color:#8e8e8e;" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <br>
        <ion-item (click)="Login()" detail="false" lines="none" button color="primary" style="--border-radius: 20px;--border-width: 0px;--height:4rem">
          <ion-label style="text-align: center;color: white;">{{language["Log In"]}}</ion-label>
        </ion-item>
        <br>
        <div style="text-align: center;">
          <a button style="color:gray" (click)="navigateModal('loginModal','forgotModal')">{{language["Forgot"]}} {{language["Password"]}}?</a>
        </div>
    
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="signupModal" (willDismiss)="setOpen(false,'signupModal')" [initialBreakpoint]="0.75" style="--border-radius: 30px">
    <ng-template>
      <ion-toolbar style="--background: transparent; margin-top: 5%;">
        <ion-title><b>{{language["Sign Up"]}}</b></ion-title>
          <!-- <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,'signupModal')">Close</ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      <ion-content class="ion-padding">
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': register.fname_input[1],'--border-color': register.fname_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="person-circle-outline"></ion-icon></ion-label>
          <ion-input type="text" placeholder="{{language['Full Name']}}" [(ngModel)]="register.fname" [clearInput]="true" (ionChange)="ionChange()"></ion-input>
          <!-- <ion-icon *ngIf="!hide.fname" slot="end" [ngStyle]="{'color': color.fname}" name="alert-circle-outline" ></ion-icon>  -->
        </ion-item>
        <br>
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': register.id_input[1],'--border-color': register.id_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="id-card-outline"></ion-icon></ion-label>
          <ion-input type="text" placeholder="{{language['Identification Card / Passport Number']}}" [(ngModel)]="register.id_no" [clearInput]="true" (ionChange)="ionChange()"></ion-input>
          <!-- <ion-icon *ngIf="!hide.id" slot="end" [ngStyle]="{'color': color.id_no}" name="alert-circle-outline" ></ion-icon>  -->
        </ion-item>
        <br>
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': register.phone_input[1],'--border-color': register.phone_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="call-outline"></ion-icon></ion-label>
          <ion-input type="number" placeholder="{{language['Phone Number']}}" [(ngModel)]="register.phone" [clearInput]="true" (ionChange)="ionChange()"></ion-input>
          <!-- <ion-icon *ngIf="!hide.id" slot="end" [ngStyle]="{'color': color.phone}" name="alert-circle-outline" ></ion-icon>  -->
        </ion-item>
        <br>
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': register.email_input[1],'--border-color': register.email_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="mail-outline"></ion-icon></ion-label>
          <ion-input type="text" placeholder="{{language['E-mail']}}" [(ngModel)]="register.email" helperText="Enter a valid email" errorText="Invalid email" email [clearInput]="true" (ionChange)="ionChange()"></ion-input>
          <ion-icon *ngIf="!hide.email" slot="end" [ngStyle]="{'color': color.email}" name="alert-circle-outline" ></ion-icon> 
        </ion-item>
        <br>
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': register.password_input[1],'--border-color': register.password_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="key-outline"></ion-icon></ion-label>
          <ion-input type="password" placeholder="{{language['Password']}}" [(ngModel)]="register.password" [clearInput]="true" [type]="showPassword ? 'text' : 'password'" (ionChange)="ionChange()"></ion-input>
          <ion-icon *ngIf="!hide.password" slot="end" [ngStyle]="{'color': color.password}" name="alert-circle-outline" ></ion-icon>
          <ion-icon style="color:#8e8e8e;" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <br>
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': register.repassword_input[1],'--border-color': register.repassword_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="key-outline"></ion-icon></ion-label>
          <ion-input type="password" placeholder="{{language['Confirm Password']}}" [(ngModel)]="register.repassword" [clearInput]="true" [type]="showPassword ? 'text' : 'password'" (ionChange)="ionChange()"></ion-input>
          <ion-icon *ngIf="!hide.password" slot="end" [ngStyle]="{'color': color.password}" name="alert-circle-outline" ></ion-icon>
          <ion-icon style="color:#8e8e8e;" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <br>
        <ion-item (click)="Register()" detail="false" lines="none" button color="primary" style="--border-radius: 20px;--border-width: 0px;--height:4rem">
          <ion-label style="text-align: center;color: white;">{{language["Sign Up"]}}</ion-label>
        </ion-item>
        <br>
        <div style="text-align: center;">
          <a button style="color:gray" (click)="navigateModal('signupModal','loginModal')">{{language["Already registered"]}}?</a>
        </div>
    
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="forgotModal" (willDismiss)="setOpen(false,'forgotModal')" [initialBreakpoint]="0.75" style="--border-radius: 30px">
    <ng-template>
      <ion-toolbar style="--background: transparent; margin-top: 5%;">
        <ion-title><b>{{language['Reset Password']}}</b></ion-title>
          <!-- <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,'signupModal')">Close</ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      <ion-content class="ion-padding">
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': forgot.email_input[1],'--border-color': forgot.email_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="mail-outline"></ion-icon></ion-label>
          <ion-input type="text" placeholder="{{language['E-mail']}}" [(ngModel)]="forgot.email" helperText="Enter a valid email" errorText="Invalid email" email [clearInput]="true" (ionChange)="ionChange()"></ion-input>
          <ion-icon *ngIf="!hide.email" slot="end" [ngStyle]="{'color': color.email}" name="alert-circle-outline" ></ion-icon> 
        </ion-item>
        <br>
        <ion-item (click)="Forgot()" detail="false" lines="none" button color="primary" style="--border-radius: 20px;--border-width: 0px;--height:4rem">
          <ion-label style="text-align: center;color: white;">{{language['Submit']}}</ion-label>
        </ion-item>
        <br>
        <div style="text-align: center;">
          <a button style="color:gray" (click)="navigateModal('forgotModal','signupModal')">{{language['New user']}}?</a>
        </div>
    
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="verifyModal" (willDismiss)="setOpen(false,'verifyModal')" [initialBreakpoint]="0.75" style="--border-radius: 30px">
    <ng-template>
      <ion-toolbar style="--background: transparent; margin-top: 5%;">
        <ion-title><b>{{language['Verify Account']}}</b></ion-title>
          <!-- <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,'signupModal')">Close</ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      <ion-content class="ion-padding">
        <ion-item counter="true" style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': verify.PIN_input[1],'--border-color': verify.PIN_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="keypad-outline"></ion-icon></ion-label>
          <ion-input maxlength="6" type="text" placeholder="PIN" [(ngModel)]="verify.PIN" labelPlacement="floating" [clearInput]="true" (ionChange)="ionChange()" [counter]="true" maxlength="6"></ion-input>
        </ion-item>
        <br>
        <ion-card color="warning">
          <ion-card-content class="ion-text-center">
            {{language['An e-mail has been sent to']}} <span style="font-weight: bold; color:var(--ion-color-primary)">{{verify.email}}</span>. {{language['Please check your inbox for verification code']}}.
          </ion-card-content>
        </ion-card>
        <br>
        <ion-item (click)="Verify()" detail="false" lines="none" button color="primary" style="--border-radius: 20px;--border-width: 0px;--height:4rem">
          <ion-label style="text-align: center;color: white;">{{language['Submit']}}</ion-label>
        </ion-item>
        <br>
        <div style="text-align: center;">
          <a button style="color:gray" (click)="navigateModal('verifyModal','loginModal')">{{language['Already registered']}}?</a>
        </div>
    
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="resetModal" (willDismiss)="setOpen(false,'resetModal')" [initialBreakpoint]="0.75" style="--border-radius: 30px">
    <ng-template>
        <ion-toolbar style="--background: transparent; margin-top: 5%;">
          <ion-title><b>{{language['Reset Password']}}</b></ion-title>
        </ion-toolbar>
      <ion-content class="ion-padding">
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': forgot.password_input[1],'--border-color': forgot.password_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="key-outline"></ion-icon></ion-label>
          <ion-input type="password" placeholder="{{language['Password']}}" [(ngModel)]="forgot.password" [clearInput]="true" [type]="showPassword ? 'text' : 'password'" (ionChange)="ionChange()"></ion-input>
          <ion-icon *ngIf="!hide.password" slot="end" [ngStyle]="{'color': color.password}" name="alert-circle-outline" ></ion-icon>
          <ion-icon style="color:#8e8e8e;" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <br>
        <ion-item style="--border-radius: 20px;--border-width: 2px;--height:4rem;" [ngStyle]="{'--highlight-color-valid': forgot.repassword_input[1],'--border-color': forgot.repassword_input[0]}">
          <ion-label><ion-icon color="medium" style="font-size: 32px;" name="key-outline"></ion-icon></ion-label>
          <ion-input type="password" placeholder="{{language['Confirm Password']}}" [(ngModel)]="forgot.repassword" [clearInput]="true" [type]="showPassword ? 'text' : 'password'" (ionChange)="ionChange()"></ion-input>
          <ion-icon *ngIf="!hide.password" slot="end" [ngStyle]="{'color': color.password}" name="alert-circle-outline" ></ion-icon>
          <ion-icon style="color:#8e8e8e;" slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <br>
        <ion-item (click)="Reset()" detail="false" lines="none" button color="primary" style="--border-radius: 20px;--border-width: 0px;--height:4rem">
          <ion-label style="text-align: center;color: white;">{{language['Reset']}}</ion-label>
        </ion-item>
        <br>
        <div style="text-align: center;">
          <a button style="color:gray" (click)="navigateModal('resetModal','signupModal')">{{language['New user']}}?</a>
        </div>
    
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
