ion-segment {
  background-color: #F1F1F1;
}

  .segment-button-checked::part(indicator-background)
  { background-color: #FBCE4F;
  }

.buttonset
{
  color: black;
font-size: 20px;
font-weight: 400;
line-height: 22px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.report-code {
  margin-bottom: 10px; /* Adjust as needed */
}

/* Add this to your styles.scss or relevant style file */
.status-background {
  background-color: green; /* Set background color to green */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Adjust border radius as needed */
  display: inline-block;
  color: white; /* Set text color to white */
}

/* Add this if you want the text color inside the box to be green */
.status-text {
  color: green; /* Set text color to green */
}







