
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon ="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Room Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item (click)="setOpen(true, 'bookingModal')" button color="primary" detail="false" class="custom-item" style="--border-radius: 20px; --border-width: 2px; --height: 4rem; margin-top: 50%; margin-bottom: 50%;">
    <ion-label class="ion-text-center">Let's Get Started</ion-label>
  </ion-item>
</ion-content>


<ion-modal [isOpen]="bookingModal" (willDismiss)="setOpen(false, 'bookingModal')" [initialBreakpoint]="0.9" style="--border-radius: 15px;">
  <ng-template>
    <ion-content class="ion-padding">
      <div class="ion-text-center" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">

        <div>
          <ion-title class="ion-margin-bottom">Select Room Type</ion-title>

          <ion-segment [(ngModel)]="selectedSegment" color="warning" class="ion-margin-bottom">
            <ion-segment-button value="doubleBlockModal">
              <ion-label>Double</ion-label>
            </ion-segment-button>
            <ion-segment-button value="singleBlockModal">
              <ion-label>Single</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>

        <ion-button expand="full" (click)="selectBlock()" shape="round" color="primary" class="ion-margin-top">
          Continue
        </ion-button>

      </div>
    </ion-content>
  </ng-template>
</ion-modal>




<!-- THIS IS FOR SINGLE ROOM SYSTEM-->

<ion-modal [isOpen]="singleBlockModal" (willDismiss)="setOpen(false, 'singleBlockModal')" [initialBreakpoint]="0.9" style="--border-radius: 15px;">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Available Blocks</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false, 'singleBlockModal')">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content class="ion-padding">
      <ion-radio-group [(ngModel)]="selectedLevel">
        <ion-item lines="none">
          <ion-label>MA1</ion-label>
          <ion-radio slot="start" value="singleLevelModal"></ion-radio>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label>MA2</ion-label>
          <ion-radio slot="start" value="123"></ion-radio>
        </ion-item>
        
        <ion-item lines="none">
          <ion-label>MA3</ion-label>
          <ion-radio slot="start" value="421"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
      <ion-button expand="full" (click)="selectLevel()" shape="round" color="primary">Continue</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal [isOpen]="singleLevelModal" (willDismiss)="setOpen(false, 'singleLevelModal')" [initialBreakpoint]="0.9" style="--border-radius: 15px;">
  <ng-template>
    <ion-content class="ion-padding">
      <div class="ion-text-center">
        <ion-title class="ion-margin-bottom">Available Levels</ion-title>

        <ion-radio-group [(ngModel)]="selectedRoom">
          <ion-item lines="none" class="ion-margin-bottom">
            <ion-label>Level 1</ion-label>
            <ion-radio slot="start" value="singleRoomModal"></ion-radio>
          </ion-item>

          <ion-item lines="none" class="ion-margin-bottom">
            <ion-label>Level 2</ion-label>
            <ion-radio slot="start" value="123"></ion-radio>
          </ion-item>

          <ion-item lines="none" class="ion-margin-bottom">
            <ion-label>Level 3</ion-label>
            <ion-radio slot="start" value="421"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-button expand="full" (click)="selectRoom()" shape="round" color="primary" class="ion-margin-top">
          Continue
        </ion-button>

      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="singleRoomModal" (willDismiss)="setOpen(false, 'singleLevelModal')" [initialBreakpoint]="0.9" style="--border-radius: 15px;">
  <ng-template>
    <ion-content class="ion-padding">
      <div class="ion-text-center">
        <ion-title class="ion-margin-bottom">Available Rooms</ion-title>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="auto" *ngFor="let room of availableRooms">
            <ion-radio value="{{ room }}" [disabled]="room.isDisabled">{{ room.number }}</ion-radio>
          </ion-col>
        </ion-row>

          <ion-button click= continueClicked() expand="full" shape="round" color="primary">
            Continue
          </ion-button>
          
          

      </div>


    </ion-content>
  </ng-template>
</ion-modal>




<!-- THIS IS FOR DOUBLE ROOM SYSTEM-->

<ion-modal [isOpen]="doubleBlockModal" (willDismiss)="setOpen(false, 'doubleBlockModal')" [initialBreakpoint]="0.9" style="--border-radius: 30px">
  <ng-template>
    <ion-content> 
      <p>testing double</p>
    </ion-content>
  </ng-template>
</ion-modal>