<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/admin'"></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback & Recommendation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Header Row -->
  <ion-list-header lines="full" class="header-row">
    <ion-label class="tooltip" data-tooltip="Feedback ID">ID</ion-label>
    <ion-label class="tooltip" data-tooltip="College Rating">C.R</ion-label>
    <ion-label class="tooltip" data-tooltip="Accommodation Rating">A.R</ion-label>
    <ion-label class="tooltip" data-tooltip="Facilities Rating">F.R</ion-label>
    <ion-label class="tooltip" data-tooltip="User Recommendation">U.R</ion-label>
  </ion-list-header>

  <!-- Feedback Items -->
  <ion-list>
    <ion-item *ngFor="let feedback of feedbackList">
      <ion-label>{{ feedback.feedback_id }}</ion-label>
      <ion-label>{{ feedback.college_management_rating }}</ion-label>
      <ion-label>{{ feedback.accommodation_rating }}</ion-label>
      <ion-label>{{ feedback.facilities_rating }}</ion-label>
      <ion-label>{{ feedback.user_recommendation }}</ion-label>
    </ion-item>    
  </ion-list>
</ion-content>
