.timetable-grid {
    border: 2px solid #ddd; /* Add border to the entire grid */
    border-radius: 20px; /* Add border radius */
  }
  
  .header-row,
  .data-row {
    border-bottom: 1px solid #ddd; /* Add border between rows */
  }
  
  ion-col {
    padding: 10px;
    text-align: center;
  }
  
  .header-row ion-col {
    font-weight: bold;
    background-color: #6613e1; /* Header background color */
  }
  
  .data-row:hover {
    background-color: #f9f9f9; /* Highlight on hover */
  }
  
  .align-right {
    margin-left: auto; /* This will push the button to the right end */
  }

  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  
    &::after {
      content: attr(data-tooltip);
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      padding: 0.3em;
      border-radius: 0.3em;
      font-size: 0.8em;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      transform: translateX(-50%);
    }
  
    &:hover::after {
      visibility: visible;
      opacity: 0.5;
    }
  }
 
  .header-row {
    height: 60px;
  }
  
  