<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/admin'"></ion-back-button>
    </ion-buttons>
    <ion-title>Hall Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" style="--ion-background-color: #f4ebf8;">

  <ion-list>
    <ion-item *ngFor="let booking of bookhall" lines="none">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title class="ion-text-uppercase">{{ booking.programme_name }}</ion-card-title>
          <ion-card-subtitle>{{ booking.programme_date | date:'medium' }}</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
          <!-- Display other booking details here -->
          <ion-label class="ion-text-wrap">{{ booking.programme_venue }}</ion-label>
          <ion-label class="ion-text-wrap">
            <ion-icon name="cash-outline" color="primary"></ion-icon>
            {{ booking.rent_fee | currency:'MYR':'symbol':'1.2-2' }}
          </ion-label>
        </ion-card-content>

        <ion-button (click)="approveBooking(booking.booking_id)" expand="full" fill="solid" color="success">
          Approve
        </ion-button>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>