<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/admin'"></ion-back-button>
    </ion-buttons>
    <ion-title>Hall Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item-divider>
      <ion-label>Hall Details</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Hall Name: {{ hallDetails?.hall_name }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Rent Date: {{ hallDetails?.rent_date }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Rent Price: {{ hallDetails?.rent_price }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Rent Type: {{ hallDetails?.rent_type }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>