<ion-header class="ion-no-border" 
style="background:white url('../assets/image/splashscreen_1.png');
       background-size: cover;
       background-position: right right;
       background-repeat: no-repeat;">
  <!-- <img src="../assets/image/splashscreen_1.png" width="25%"> -->
</ion-header>

<ion-content>

  <div class="container ion-text-center">
    <img src="../assets/image/KTDI.png">
  </div>

  <br>
  <div class="container2 ion-text-center">
    <p style="font-size: 12px; margin-left: 10%; margin-right: 10%; margin-top: -5%;">Copyright ©2023 Kolej Tun Dr. Ismail <br>All rights reserved.</p>
  </div>

</ion-content>

<ion-footer class="ion-no-border" style="background:white url('../assets/image/splashscreen_2.png')">
  <!-- <img src="../assets/image/splashscreen_2.png" width="15%"> -->
</ion-footer>
